body {
    background-color: #333333;
    color: white;
    font-family: sans-serif;
    margin-left: 3vw;
}

h2 {
    margin-bottom: 5vh;
}

textarea {
    height: 25vh;
    resize: none;
}

br {
    margin-bottom: 10vh;
}

input[type="text"], textarea {
    position: absolute;
    left: 12vw;
    width: 30vw;
}

input[type="submit"] {
    margin-top: 20vh;
}
