body {
    background-color: #333333;
    color: white;
    font-family: sans-serif;
    margin-left: 3vw;
}

h2 {
    margin-bottom: 5vh;
}

.suggestion {
    width: 150px;
    height: 150px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
    font-size: 12px;
    color: black;
}
